body {
    margin: 0;
    padding: 0;
  }

.p1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

h2 {
  text-align: center;
}

.article_first {
min-height: 100vh;
background-image: url("bg.png");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
  }

.article_second {
  background-image: url("bg_tab.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 310px;
  opacity: 0.7;
  }

table {
  width: 100%;
}

.form_button {
position: fixed; right: 16px; bottom: 12px;
display: inline-block;
padding: 12px 32px;
transition: all 0.3s ease-out;
text-transform: uppercase;
color: rgb(0, 100, 214);
border: none;
border-radius: 100px;
outline: none;
background-color: rgb(223, 227, 255);
background-clip: border-box;
font-family: 'Montserrat', sans-serif;
font-size: 1.5em;
font-weight: 500;
opacity: 0.5;
  }